certifi==2026.2.25
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
diff_cover==10.2.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.1
parse==1.21.1
pathspec==1.0.4
platformdirs==4.9.6
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
PyYAML==6.0.3
regex==2026.4.4
requests==2.33.1
simplejson==4.0.1
sqlfluff==4.1.0
tblib==3.2.2
tqdm==4.67.3
urllib3==2.6.3
